<div>
  <a href="/private/userStartSeite">Startseite</a>
  <a href="/members">Mitglieder</a>
  <a href="/private/service">Anleitungen</a>
  <a href="/private/events">Veranstaltungen</a>
  <a href="/gallery">Gallery</a>
  <a href="/links">Links</a>
  <a href="/aboutUs">Über Uns</a>
  <form action="/signout" method="GET">
    <button id="logout" type="submit">Logout</button>
  </form>
</div>