  <div>
  <a href="/">Start</a>
  <a href="/gallery">Bildergalerie</a>
  <a href="/links">Links</a>
  <a href="/aboutUs">Über uns</a>
  <a href="/members">Mitglieder</a>
  </div>
  <div id="signin">
<form id="form" action="/signin" method="POST">
    <label for="email">Email-Address</label>
    <input type="email" name="email" placeholder="your-email@something.com" required>
    <label for="password">Password</label>
    <input id="myPassword" type="password" name="password" placeholder="********" value="" required>
    <!--input id="myPassword" type="password" name="" value=""-->
    <button id="login" type="submit">Login</button>
</form>
<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} 
<a id="register" href="/signup">Register</a>
</div>