<h1 class="about-us-header">Über uns</h1>

<h2 id=aboutUs-box>Wo Sie uns finden</h2>

<div class="about-us-header">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5261.77104611352!2d11.473722633422026!3d48.74588351657552!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479eff7de850047f%3A0x613c82712cc200c2!2sFerdinand-Braun-Stra%C3%9Fe%2017%2C%2085053%20Ingolstadt!5e0!3m2!1sde!2sde!4v1579106463377!5m2!1sde!2sde" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div>

<h2 id=aboutUs-box>Impressum</h2>
<div class="background-whitesmoke">
<p>IRONGarden<br />
Ferdinand-Braun-Str. 18<br />
85049 Ingolstadt
</p>

<p>
Telefon: 0841/123456789<br />
E-Mail: <a href="mailto:vorstand@irongarden.com">vorstand@irongarden.com</a>
</p>

<p>
Vertreten durch:<br />
Klaus Mustermann<br />
</p>

<p>
Eingetragen im Vereinsregister:<br />
Vereinsregister-Nr 12345/6789<br />
Gericht: Ingolstadt
</p>

<p>Wir nehmen nicht an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil.</p>

<p><a href="https://www.123recht.de/impressumsgenerator.asp">Impressum erstellt mit dem Impressumsgenerator von 123recht.de - Rechtsberatung online.</a></p>
</div>