<h1>Bilder Galerie</h1>

<!-- Container for the image gallery -->
<div class="container">

  <!-- Full-width images with number text -->
  <div class="mySlides">
    <div class="numbertext">1 / 12</div>
      <img src="/images/Gardasee 082.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 12</div>
      <img src="/images/Gardasee 092.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 12</div>
      <img src="/images/Gardasee 107.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 12</div>
      <img src="/images/Gardasee 115.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <img src="/images/Gardasee 151.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">6 / 12</div>
      <img src="/images/Gardasee 173.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">7 / 12</div>
      <img src="/images/IMG_0514.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">8 / 12</div>
      <img src="/images/IMG_4286.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">9 / 12</div>
      <img src="/images/IMG_6109.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">10/ 12</div>
      <img src="/images/Gardasee 117.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">11 / 12</div>
      <img src="/images/Gardasee 124.jpg" style="width:100%">
  </div>
  
  <div class="mySlides">
    <div class="numbertext">12 / 12</div>
      <img src="/images/Gardasee 130.jpg" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">13 / 12</div>
      <img src="/images/Gardasee 178.jpg" style="width:100%">
  </div> 

   <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>

  <!-- Image text -->
  <div class="caption-container">
    <p id="caption"></p>
  </div>

  <!-- Thumbnail images -->
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 082.jpg" style="width:100%" onclick="currentSlide(1)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 092.jpg" style="width:100%" onclick="currentSlide(2)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 107.jpg" style="width:100%" onclick="currentSlide(3)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 115.jpg" style="width:100%" onclick="currentSlide(4)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 151.jpg" style="width:100%" onclick="currentSlide(5)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 173.jpg" style="width:100%" onclick="currentSlide(6)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/IMG_0514.jpg" style="width:100%" onclick="currentSlide(6)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/IMG_4286.jpg" style="width:100%" onclick="currentSlide(6)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 117.jpg" style="width:100%" onclick="currentSlide(3)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 124.jpg" style="width:100%" onclick="currentSlide(4)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 130.jpg" style="width:100%" onclick="currentSlide(4)" alt="Gardasee">
    </div>
    <div class="column">
      <img class="demo cursor" src="/images/Gardasee 178.jpg" style="width:100%" onclick="currentSlide(5)" alt="Gardasee">
    </div>
    
  </div>
</div>

