<h1>Bilder Galerie</h1>


<h3>Unser Lehrgarten</h3><br>
<div class="smallImages">
  <img src="/images/IMG-20180817-WA0002.jpg" alt="apples" width=50>
  <img src="/images/IMG-20180817-WA0005.jpg" alt="peaches"width=50>
  <img src="/images/IMG-20180817-WA0014.jpg" alt="fig" width=50>
  <img src="/images/IMG-20180817-WA0018.jpg" alt="plums" width=50>
</div> 
<hr>

<h2>Impressionen Gartenreise Gardasee 2019</h2><br>
<div class="smallImages">
  <img src="/images/Gardasee 082.jpg" alt="Garda 1" width=100>
  <img src="/images/Gardasee 092.jpg" alt="Garda 2"width=100>
  <img src="/images/Gardasee 107.jpg" alt="Garda 3" width=100>
  <img src="/images/Gardasee 115.jpg" alt="Garda 4" width=100>
  <img src="/images/Gardasee 151.jpg" alt="Garda 5" width=100>
  <img src="/images/Gardasee 173.jpg" alt="Garda  6"width=100>
  
 </div>
<hr>