<h1>Bilder Galerie</h1>
<div class="smallImages">
  <img src="/images/20190309_113310.jpg" alt="skiing 1" width=300>
  <img src="/images/20190309_113315.jpg" alt="skiing 2"width=300>
  <img src="/images/IMG_20190309_113021.jpg" alt="skiing 3" width=300>
  <img src="/images/IMG_20190309_151931.jpg" alt="skiing 4" width=300>
</div> 
<hr>
<h2>Impressions from my last city trip</h2><br>
  <img src="/images/IMG_0080.JPG" alt="Lisboa 1" width=300>
  <img src="/images/IMG_0081.JPG" alt="Lisboa 2"width=300>
  <img src="/images/IMG_0112.JPG" alt="Lisboa 3" width=300>
  <img src="/images/IMG_0128.JPG" alt="Lisboa 3" width=300>
<div class="smallImages">
 
</div> 
<hr>