<div id="flexStart1">
<div id="flexStart2" >
  
  <h2> Herzlich willkommen auf der Homepage des<br> Obst- und Gartenbauvereins IRONGarden</h2>

  <p>Sehr geehrte Gartenfreundin, sehr geehrter Gartenfreund,<br><br>
      wir hoffen, dass sich neue Interessenten durch die Homepage ein <br> 
      gutes Bild von unserem Verein machen können und unsere Mitglieder<br 
      ausreichend über die Aktivitäten und Möglichkeiten im Verein informiert werden.<br> 
      Viel Spaß auf diesen Seiten.<br>
      <br>Ihre VorstandschaftObst- und Gartenbauverein IRONGarden</p>
</div>
<div >
<img id="startbild1" src="./images/image_start.jpg" alt="Startbild1">
  <div style="float: right" id="wcom-e66e5221e77c60e4398f5e54590784ca" class="wcom-default w300x250" style="border: 1px solid #CCC; background-color: #FCFCFC; border-radius: 5px"><link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all"><div class="wcom-city"><a style="color: #000" href="https://www.wetter.com/deutschland/ingolstadt/DE0004974.html" target="_blank" rel="nofollow" aria-label="Wetter Berlin" title="Wetter Ingolstadt">Wetter Ingolstadt</a></div><div id="wcom-e66e5221e77c60e4398f5e54590784ca-weather"></div><script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script><script type="text/javascript">_wcomWidget({id: 'wcom-e66e5221e77c60e4398f5e54590784ca',location: 'DE0004974',format: '300x250',type: 'summary'});</script><div>
</div>
</div>
