<h1>Startseite</h1>

<div id="wcom-e66e5221e77c60e4398f5e54590784ca" class="wcom-default w300x250" style="border: 1px solid #CCC; background-color: #FCFCFC; border-radius: 5px"><link rel="stylesheet" href="//cs3.wettercomassets.com/woys/5/css/w.css" media="all"><div class="wcom-city"><a style="color: #000" href="https://www.wetter.com/deutschland/ingolstadt/DE0004974.html" target="_blank" rel="nofollow" aria-label="Wetter Berlin" title="Wetter Ingolstadt">Wetter Ingolstadt</a></div><div id="wcom-e66e5221e77c60e4398f5e54590784ca-weather"></div><script type="text/javascript" src="//cs3.wettercomassets.com/woys/5/js/w.js"></script><script type="text/javascript">_wcomWidget({id: 'wcom-e66e5221e77c60e4398f5e54590784ca',location: 'DE0004974',format: '300x250',type: 'summary'});</script></div>
