<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

<div id="icon">  
  <img src="/images/pngguru.com.png" alt="Icon IRONGarden">
  <h1 id="textIron">IRON</h1>
  <h1 id="textGarden">Garden</h1>
</div>

<nav>
{{#if user}}
{{>internNavBar}}
{{else}}
{{>openNavBar}}
{{/if}}
</nav>
<div id="bodyStyle">
  {{{body}}}
</div>
  <script src="/javascripts/script.js"></script>
</body>
</html>