<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
<nav>
  <div>
  <a href="/">Start</a>
  <a href="/gallery">Bilder</a>
  <a href="/links">Links</a>
  <a href="/aboutUs">Über uns</a>

  <a href="/private/admin"> Admin</a>
  <a href="/private/events"> Termine</a>
  <a href="/private/service"> Service</a>
  <a href="/private/userStartSeite"> StartSeite</a>


  </div>
  <div id="signin">
<form id="form" action="/signin" method="POST">
    <label for="email">Email-Address</label>
    <input type="email" name="email" placeholder="your-email@something.com" required>
    <label for="password">Password</label>
    <input id="myPassword" type="password" name="password" placeholder="********" value="" required>
    <!--input id="myPassword" type="password" name="" value=""-->
    <button id="login" type="submit">Login</button>
</form>
<form action="/signout" method="GET">
 <button id="logout" type="submit">Logout</button>
</form>

<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}} 
<a id="register" href="/signup">Register</a>
</div>
</nav>
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>