<h1>Links</h1>

<table>
    <thead> überregionale Links </thead>
    <tr>
    <th>Link</th>
    <th>Link</th>
    <th>Link</th>
    </tr>
  
        <tr>
            <td width=33%><a href="https://www.gartenbauvereine.org/">Bayrischer Landesverband für Gartenbau und Landespflege e. V.</a></td>
            <td width=33%><a href="https://www.gartenbauvereine.de/vgid/">Verbandes der Gartenbauvereine in Deutschland e.V. (VGiD)</a></td>
            <td width=33%><a href="http://www.dgg1822.de/">Deutsche Gartenbau-Gesellschaft 1822 e.V.</a></td>  
        </tr>

        <br>
<table>
  <br>
    <thead> Obst, Garten und Bäume </thead>
        <tr>
    <th>Link</th>
    <th>Link</th>
    <th>Link</th>
    </tr>

    <tr>
    <td width=33%><a href="http://www.mein-schoener-garten.de/">Mein schöner Garten</a></td width=33%>
    <td width=33%><a href="http://www.botmuc.org/">Botanischer Garten München</a></td width=33%>
    <td width=33% ><a href="https://ingolstadt2020.de/">Landesgartenschau ingolstadt 2020</a></<th>
    </tr>
     
</table>
