<h1>Admin Seite</h1>
<div class="divButton">
<br>
<br>
<br>
<a class="bigButton" href="/private/adminEvents"> Erfassung neuer Events / Veranstaltungen</a>
<br>
<a class="bigButton" href="/private/adminMembers"> Erfassung neuer Mitglieder</a>
<br>
<a class="bigButton" href="/private/deleteMembers"> Löschung von Vereinsmitgliedern</a>
<br>
<a class="bigButton" href="/private/serviceDelete"> Anleitungen löschen</a>
</div>