<h1>Neuanlage von Mitgliedern</h1>
<div id="signup">
<br>
<form action="/private/adminMembers" method="POST">
<label for="name">Email-Adresse</label>
    <input type="text" name="email" placeholder="" required>
<br><br>
<label for="firstname">Vorname</label>
   <input type="text" name="firstname" placeholder="" required>
<br><br>
<label for="lastname">Nachname</label>
   <input type="text" name="lastname" placeholder="" required>
<br><br>
<label for="memberrole">Funktion/ Rolle</label>
    <select name="memberrole" >
      <option>President</option>
      <option>Treasurer</option>
      <option>Secretary</option>
      <option selected>Boardmember</option>
    </select>   
<br><br>    
<label for="rolesince">Rolle ab </TT></label>
   <input type="date" name="rolesince" placeholder="">
<br><br>
<label for="age">Alter</label>
   <input type="text" name="Alter" placeholder="">
<br><br>
<!-- <label for="imageUrl">Foto</label>
   <input type="imgUrl" name="imageUrl" placeholder="photo" required>
<br><br> -->
<br><br>
    
    <button type="submit">Neues Mitglied anlegen</button>
    
  </form>
<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
</div>



 


