<div id="signup">
<h1>Erfassung neuer Mitglieder/h1>
<br>
<form action="/private/members_adm" method="POST">
<label for="name">Mitgliedsdaten</label>
    <input type="text" name="email" placeholder="email" required>
<br><br>
<label for="firstname">Vorname</label>
   <input type="text" name="firstname" placeholder="firstname" required>
<br><br>
<label for="lastname">Nachname</label>
   <input type="text" name="lastname" placeholder="lastname" required>
<br><br>
<label for="memberrole">Funktion/ Rolle</label>
   <input type="text" name="memberrole" placeholder="memberrole" required>
<br><br>    
<label for="rolesince">Rolle seit</label>
   <input type="text" name="rolesince" placeholder="rolesince">
<br><br>
<label for="age">Alter</label>
   <input type="text" name="Alter" placeholder="age">
<br><br>
<!-- <label for="imageUrl">Foto</label>
   <input type="imgUrl" name="imageUrl" placeholder="photo" required>
<br><br> -->
<br><br>
    <button type="submit">Neues Mitglied anlegen</button>
  </form>
<br>
  {{#if errorMessage}}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}


</div>