<br><br>

<button class="triggerBuch" id="register">Anleitung hinzufügen</button>
 <div class="modalBuch">
        <div class="modal-contentBuch">
            <span class="close-buttonBuch">&times;</span>
            {{>serviceformular}}
        </div>
</div>
<br><br><br><br>
<div id="anleitungen">
<div class="elementsAnleitungen">
<div>
  <a href="/private/service/Pflanzenschnitt">Pflanzenschnitt</a>
</div>
<div>
   <a href="/private/service/Saat und Pflanzen">Saat und Pflanzen</a>
</div>
<div>
  <a href="/private/service/Verarbeitung">Verarbeitung</a>

</div>

</div> 
<br><br><br><br><br><br><br><br>
<div class="elementsAnleitungen"> 
 <div>
   <a href="/private/service/Bäume und Sträucher">Bäume und Sträucher</a></div> 
 <div>
   <a href="/private/service/Schädlingsbekämpfung">Schädlingsbekämpfung</a></div> 
 <div>
   <a href="/private/service/Sonstiges">Sonstiges</a></div> 
</div>
</div>

