<div id="seitentitel"><h1>Übersicht aller Services</h1></div>

<button class="triggerBuch">Buch hinzufügen</button>
 <div class="modalBuch">
        <div class="modal-contentBuch">
            <span class="close-buttonBuch">&times;</span>
            {{>serviceformular}}
        </div>
</div>

<div id="übersicht">

  <a href="/private/service/pflanzenschnitt">Pflanzenschnitt</a>
  <a href="/private/service/saatundpflanzen">Saat und Pflanzen</a>
  <a href="/private/service/verarbeitung">Verarbeitung</a>

  <a href="/private/service/baeumeundstraeucher">Bäume und Sträucher</a>
  <a href="/private/service/schaedlingsbekaempfung">Schädlingsbekämpfung</a>
  <a href="/private/service/sonstiges">Sonstiges</a>

</div>
