<div id="seitentitel"><h1>Übersicht aller Services</h1></div>

<a href="/private/service/serviceformular">Neue Anleitung erstellen</a>

<div id="übersicht">

  <a href="/private/service/pflanzenschnitt">Pflanzenschnitt</a>
  <a href="/private/service/saatundpflanzen">Saat und Pflanzen</a>
  <a href="/private/service/verarbeitung">Verarbeitung</a>

  <a href="/private/service/baeumeundstraeucher">Bäume und Sträucher</a>
  <a href="/private/service/schaedlingsbekaempfung">Schädlingsbekämpfung</a>
  <a href="/private/service/sonstiges">Sonstiges</a>

</div>
