<div id="textUserStart">
<h1 > Herzlich Willkommen bei IRONGarden, <a href="/private/admin">{{user.username}}!</a></h1>
<h2> Wir möchten Dich hier speziell auf unsere nächsten Termine hinweisen:</h2>
<h3> Baumschnittkurs am Freitag, den 31.01.2020 um 14:00 Uhr</h3>
<section> Jedes Jahr im Frühjahr beauftragen wir einen Spezialist für Baumschnitte. 
  Er führt in einem Garten eines unserer Mitglieder einen Baumschnittkurs durch. 
  Wir suchen gezielt Gärten mit unbeschnittenen, oder schon seid einiger Zeit nicht mehr 
  geschnittenen Bäumen aus. Die Veranschaulichung ist hierbei viel größer und es darf 
  jeder unter Anleitung selbst Hand anlegen. 
  Im Anschluss werden gerne noch offene Fragen beantwortet.</section>
<br><br><br>
</div>
<div id="membersSite">
  <img src="/images/Baumschnitt.jpg" alt="Baumschnitt.jpg" width=400px>
  
  <img src="/images/BaumschnittII.jpg" alt="Baumschnitt.jpg" width=250px >
</div>

