body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: green;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 10px grey;
  background-image: linear-gradient(to bottom right, rgb(124,186,0), rgb(67,100,0));
}

.error-message{
  width: 150px;
  background-color: red;
  color: whitesmoke
}

a {
    text-decoration: none;
  color: black;
  font-weight: bold;
}

a:hover{
  font-size: larger;
  font-weight: bolder;
  color:whitesmoke
}

#signin input{
  border-radius: 10px;
}

#login{
  border: none;
  background-color: whitesmoke;
  color: black;
  box-shadow: 2px 2px darkgreen;
}

#login:focus{
  box-shadow: none;
}


#signup{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

#signup form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  box-shadow: 1px 1px 12px grey;
  border-radius: 5px;
}

#icon >img{
  width: 125px;
  height: 125px;
  padding-right: 10px;
}

#icon {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 30px;
}

#textIron {
  color: rgb(51,51,51);
  font-size: 80px;
}
#textGarden {
  color: rgb(124,186,0);
  font-size: 80px;
}

#aboutUs-box{
  background-color: lightgrey;
  margin-bottom: 0px;
  padding-top: 20px ;
  text-align: center;
}

.background-whitesmoke{
background-color: whitesmoke;
margin-top: 0px;
padding-top: 20px;
text-align: center;
}

.about-us-header{
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.about-us-header >iframe{
  box-shadow: 3px 3px 12px grey;
}