@charset "UTF-8";
/*main body*/
body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

/*style for part within body*/
#bodyStyle {
  height: 75vh;
  padding: 15px; }

/*navbar*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: green;
  height: 50px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 2px 2px 10px grey;
  background-image: linear-gradient(to bottom right, #7cba00, #436400); }

/*styling error message*/
.error-message {
  width: 150px;
  background-color: red;
  color: whitesmoke; }

/*link styling*/
nav a {
  text-decoration: none;
  color: black;
  font-weight: bold; }

/*hover effect for links*/
nav a:hover {
  font-size: larger;
  font-weight: bolder;
  color: whitesmoke; }

/*box for signin*/
#signin input {
  border-radius: 10px; }

#signin {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column; }

#register {
  color: white;
  background-color: #333333;
  border-radius: 0.25rem;
  border: 1px solid #333333;
  font-weight: lighter;
  box-shadow: 1px 1px black; }

#register a {
  color: white;
  text-decoration: none; }

#register:focus {
  box-shadow: none; }

/*styling for login*/
#login {
  color: white;
  background-color: #333333;
  border-radius: 0.25rem;
  border-color: #333333;
  margin-left: 20px; }

/*effect on clicking login*/
#login:focus {
  box-shadow: none; }

/*signup styling*/
#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*signup form style*/
#signup form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 500px;
  box-shadow: 1px 1px 12px grey;
  border-radius: 5px; }

/*signup input fields style*/
#signup input {
  width: 200px; }

/*signup texarea fields*/
#signup textarea {
  width: 200px; }

/*signup select fields*/
#signup select {
  width: 200px; }

/*id for icon, image style*/
#icon > img {
  width: 125px;
  height: 125px;
  padding-right: 10px;
  margin-top: -5px; }

/*style homepage logo*/
#icon {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 30px;
  margin-top: -5px; }

/*style text besides logo*/
#textIron {
  color: #333333;
  font-size: 60px;
  letter-spacing: 1px; }

/*style 2nd text besides logo*/
#textGarden {
  color: #7cba00;
  font-size: 60px;
  letter-spacing: 1px; }

/*style images within Galerie*/
.smallImages {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  font-size: 80px; }

.smallImages img {
  width: 400px; }

/*style within Über uns box*/
#aboutUs-box {
  background-color: lightgrey;
  margin-bottom: 0px;
  padding-top: 20px;
  text-align: center; }

/*background style within about us*/
.background-whitesmoke {
  background-color: whitesmoke;
  margin-top: 0px;
  padding-top: 20px;
  text-align: center; }

/*style header within about us page*/
.about-us-header {
  text-align: center;
  justify-content: center;
  margin-top: 10px; }

/*style iframe within about us*/
.about-us-header > iframe {
  box-shadow: 3px 3px 12px grey; }

/*style für Anleitungen*/
#seitentitel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 0; }

table {
  border-collapse: separate;
  border-spacing: 0.2em;
  margin-bottom: 40 px;
  margin-top: 10 px;
  width: 90vw; }

th, td {
  padding: 0.2em 0.5em;
  border-radius: 0.1em; }

th {
  background-color: #7cba00;
  color: black; }

thead {
  font-weight: bolder; }

td {
  text-align: right;
  box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5); }

td:empty {
  box-shadow: none; }

td a {
  color: blue; }

.modalBuch {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s; }

.modal-contentBuch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  width: 60rem;
  height: 40rem;
  border-radius: 0.5rem;
  display: grid;
  justify-content: center; }

.close-buttonBuch {
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #333333;
  color: whitesmoke; }

.close-buttonBuch:hover {
  background-color: darkgray; }

.show-modalBuch {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }

.divButton {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  align-content: center; }

.bigButton {
  display: block;
  width: 250px;
  height: 50px;
  background: #7cba00;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  text-decoration: none; }

/*flexbox1 für Startseite*/
#flexStart1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5vh;
  box-shadow: 2px 2px 10px grey;
  padding-left: 10px; }

/*flexbox2 für Startseite*/
#flexStart2 {
  display: flex;
  flex-direction: column; }

/*Startbild der Startseite*/
#startbild1 {
  width: 27vw;
  height: 32vh;
  padding-top: 10px;
  padding-right: 10px; }

/*style Wetterkarte*/
#wcom-e66e5221e77c60e4398f5e54590784ca {
  height: 32vh;
  width: 27vw; }

#logout {
  color: white;
  background-color: #333333;
  border-radius: 0.25rem;
  border-color: #333333; }

/*signup styling*/
#Benutzerkonto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*signup form style*/
#Benutzerkonto > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border-radius: 5px; }

.formInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.formInput label {
  width: 120px; }

.formInput input, textarea {
  width: 200px; }

#textUserStart h1 {
  color: #7cba00;
  font-size: 48px;
  letter-spacing: 1px; }

#textUserStart h3 {
  font-size: 24px;
  letter-spacing: 1px; }

#textUserStart section {
  font-size: 18px;
  letter-spacing: 1px; }

#textUserStart a {
  text-decoration: none;
  color: #333333; }

#createService {
  width: 1000px;
  height: 100%;
  background-color: #7cba00;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  font-weight: bold; }

#createService input, select {
  width: 200px; }

#createService textarea {
  height: 100px; }

#serviceEdit {
  border: 8px solid #7cba00;
  width: 800px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold; }

#serviceEditFormular {
  display: flex;
  justify-content: center;
  align-items: center; }

#serviceEditFormular label {
  width: 200px; }

#anleitungen {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column; }

.elementsAnleitungen {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }

.elementsAnleitungen a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
  font-weight: bolder; }

.elementsAnleitungen div {
  background-color: #7cba00;
  height: 300px;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  box-shadow: 1px 1px 10px grey; }

.elementsAnleitungen a:hover {
  font-weight: lighter; }

#detailService {
  box-shadow: 2px 2px 12px grey;
  border-radius: 5px;
  margin: 25px 0 25px 0;
  padding: 2px 40px 10px 25px; }

#detailService textarea {
  width: 100%;
  border: 5px solid #7cba00;
  border-radius: 8px; }

#account label {
  font-weight: bold; }

#membersSite {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row; }

#membersSite div {
  height: 800px;
  width: 600px;
  box-shadow: 1px 1px 12px grey;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

#membersSite img {
  border-radius: 15px;
  width: 500px;
  height: 500px; }

#membersSite h1 {
  color: #7cba00;
  font-size: 30px; }

/*# sourceMappingURL=style.css.map */